.login-caja {
    background: #ffffff;
    padding: 25px;
}

.container-fluid {
    background-image: url('../../assets/img/img3.jpg'); 
    background-size: cover;
}

.texto-sm{
    font-size: 1rem;
}